@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

body {
  margin: 0;
}

.container {
  width: 100%;
  background-color: #84b6f4;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
}


/* 
.float-end {
  position: absolute;
  right: 0;
  top: 0;
  margin: 24px 100px 10px 0px;
}

.float-end img {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 15px;
  right: 0;
} */

.iconoPage {
  margin: all;
  width: 131px;
  height: 130px;
  float: left;
  margin-right: 50px;
  position: absolute;
  top: 0;
  left: 48px;
}

.navbar {
  --bs-bg-opacity: 0;
  margin-top: 130px;
}

.offcanvas {
  left: 0;
  background-color: #f3cea5;
}

.offcanvas-header {
  position: absolute;
  right: 0;
}

.offcanvas-body {
  background-color: #f3cea5;
}

img,
svg {
  color: black;
}

.container-fluid {
  background-color: white;
}

.d-flex {
  margin-top: 3rem !important;
}

.navbar-nav {
  padding-top: 12px;
}

.navbar-toggler {
  border: 0;
}

.gestion {
  width: 120px;
  height: 34px;
  background: #a58046;
  border-radius: 5px;
  margin-top: 45px;
}

.form-control {
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: #d9d9d96e;
  font-size: 22px;
  text-align: justify;
  border-radius: 15px;
  border-color: #d9d9d96e;
}

.gestion p {
  text-align: center;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 22px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;
}

.nav-link {
  margin-left: 10px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 22px;
  margin-top: 3px;
}

.atencion {
  width: 120px;
  height: 34px;
  background: #a58046;
  border-radius: 5px;
  margin-top: 10px;
}

.atencion p {
  text-align: center;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 22px;
}

.footer {
  background-color: #424949;
  height: 100px;
  border: 1px solid;
  border-color: black;
  margin-top: 100px;
}


.card img {
  width: 100%;
  height: 275px;
}

.card-title {
  font-family: "Shadows Into Light", cursive;
  font-size: 25px;
  text-align: center;
  display: flow;
}
