body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

header {
  background-color: #84b6f4;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 10px 0;
  margin-top: 100px;
  background-color: #84b6f4;
  color: #fff;
}

.main-content {
  background-color: #fff;
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 57px;
  margin-top: 110px;
}

.main-content h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
